*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}



#bigContainer{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
 
}
#smallContainer{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
} 
#smallContainer h1{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#smallContainer img{
    width: 30px;
    margin-left: 10px;
}
#inputContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    

}
input{
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: 14px;

}
#submit{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: linear-gradient(135deg, #153677, #4e085f);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    
 }
 #submit:hover{
    background: rebeccapurple;
    transition: ease-out 0ms;
    
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    top: 12px;
    left: 8px;

}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.jpg);
}

#h1{
    font-weight: 300px;
    color: darkblue;
}

#taskOutput{
    margin: 10px;
    position: relative;
    padding: 5px;
    
}
#TasksContainer{
    display: grid;
    gap: 10px;
    
    
}
ul li{
    margin-bottom: 25px;
}
.checkButton{
    border: 1px solid;
    margin-left: 10px;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 0px;
    display: flex;
    align-items: center;


}
ul li span:hover{
    background: #edeef0;
}
